<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} %-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_INFO"
              class="ch.qos.logback.core.FileAppender">
        <Append>true</Append>
        <file>./bitcoin-info.txt</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} %-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <file>./bitcoin-debug.txt</file>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} %-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/bitcoin-debug.%d{yyyy-MM-dd}.txt
            </fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
    </appender>
    <logger name="com.jontian.bitcoin.service" level="debug"/>
    <logger name="com.jontian.bitcoin.price" level="trace"/>
    <logger name="com.jontian.bitcoin.market" level="trace"/>
    <logger name="com.jontian.bitcoin" level="debug"/>
    <root level="info">
        <!-- receive >= debug level -->
        <appender-ref ref="STDOUT" />
        <!-- receive all levels -->
        <appender-ref ref="FILE"/>
        <!-- receive just info level -->
        <appender-ref ref="FILE_INFO"/>
    </root>

</configuration>